# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# App files

# dependencies
/app/node_modules
/app/.pnp
/app/.pnp.js

# testing
/app/coverage

# database
/app/prisma/db.sqlite
/app/prisma/db.sqlite-journal

# next.js
/app/.next/
/app/out/
/app/next-env.d.ts

# production
/app/build

# misc
/app/.DS_Store
/app/*.pem

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
/app/.env
/app/.env*.local

# vercel
/app/.vercel

# typescript
/app/*.tsbuildinfo
