{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenPipe API",
    "description": "The public API for reporting API calls to OpenPipe",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://app.openpipe.ai/api/v1"
    }
  ],
  "paths": {
    "/check-cache": {
      "post": {
        "operationId": "checkCache",
        "description": "DEPRECATED: we no longer support prompt caching.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "reqPayload": {
                    "description": "JSON-encoded request payload"
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra tags to attach to the call for filtering. Eg { \"userId\": \"123\", \"promptId\": \"populate-title\" }",
                    "default": {}
                  }
                },
                "required": [
                  "requestedAt"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "respPayload": {
                      "description": "JSON-encoded response payload"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "deprecated": true
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "description": "OpenAI-compatible route for generating inference and optionally logging the request.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqPayload": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "system"
                                  ]
                                },
                                "content": {
                                  "type": "string",
                                  "default": ""
                                }
                              },
                              "required": [
                                "role"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image_url"
                                                ]
                                              },
                                              "image_url": {
                                                "type": "object",
                                                "properties": {
                                                  "detail": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "auto"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "low"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "high"
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  "url": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "url"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "image_url"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ]
                                              },
                                              "text": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    }
                                  ],
                                  "default": ""
                                }
                              },
                              "required": [
                                "role"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "assistant"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ],
                                  "default": null
                                },
                                "function_call": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "default": ""
                                    },
                                    "arguments": {
                                      "type": "string",
                                      "default": ""
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "tool_calls": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "function": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "arguments": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "name",
                                          "arguments"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "function"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "function",
                                      "type"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "role"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "tool"
                                  ]
                                },
                                "content": {
                                  "type": "string",
                                  "default": ""
                                },
                                "tool_call_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "role",
                                "tool_call_id"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "function"
                                  ]
                                },
                                "name": {
                                  "type": "string"
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "role",
                                "name",
                                "content"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        }
                      },
                      "function_call": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "none"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "auto"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "functions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "tool_choice": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "none"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "auto"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "default": "function"
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ],
                                "additionalProperties": false,
                                "default": {
                                  "name": ""
                                }
                              }
                            },
                            "additionalProperties": false
                          }
                        ]
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "function"
                              ]
                            }
                          },
                          "required": [
                            "function",
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "n": {
                        "type": "number"
                      },
                      "max_tokens": {
                        "type": "number",
                        "nullable": true
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "response_format": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "text"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "json_object"
                                ]
                              }
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      "stream": {
                        "type": "boolean",
                        "default": false
                      }
                    },
                    "required": [
                      "model",
                      "messages"
                    ],
                    "additionalProperties": false,
                    "description": "DEPRECATED. Use the top-level fields instead"
                  },
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ]
                            },
                            "content": {
                              "type": "string",
                              "default": ""
                            }
                          },
                          "required": [
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image_url"
                                            ]
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "detail": {
                                                "anyOf": [
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "auto"
                                                    ]
                                                  },
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "low"
                                                    ]
                                                  },
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "high"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "image_url"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ]
                                          },
                                          "text": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                }
                              ],
                              "default": ""
                            }
                          },
                          "required": [
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ],
                              "default": null
                            },
                            "function_call": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "default": ""
                                },
                                "arguments": {
                                  "type": "string",
                                  "default": ""
                                }
                              },
                              "additionalProperties": false
                            },
                            "tool_calls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "function": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "arguments": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "arguments"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "function"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "function",
                                  "type"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "tool"
                              ]
                            },
                            "content": {
                              "type": "string",
                              "default": ""
                            },
                            "tool_call_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "tool_call_id"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "function"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ]
                            }
                          },
                          "required": [
                            "role",
                            "name",
                            "content"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "function_call": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auto"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "description": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auto"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "default": "function"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false,
                            "default": {
                              "name": ""
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    ]
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ]
                        }
                      },
                      "required": [
                        "function",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "n": {
                    "type": "number",
                    "nullable": true
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true
                  },
                  "temperature": {
                    "type": "number",
                    "nullable": true
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ]
                          }
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "object": {
                          "type": "string",
                          "enum": [
                            "chat.completion"
                          ]
                        },
                        "created": {
                          "type": "number"
                        },
                        "model": {
                          "type": "string"
                        },
                        "choices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "finish_reason": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "length"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "function_call"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "tool_calls"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "stop"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "content_filter"
                                    ]
                                  }
                                ]
                              },
                              "index": {
                                "type": "number"
                              },
                              "message": {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "assistant"
                                    ]
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "enum": [
                                          "null"
                                        ],
                                        "nullable": true
                                      }
                                    ],
                                    "default": null
                                  },
                                  "function_call": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "default": ""
                                      },
                                      "arguments": {
                                        "type": "string",
                                        "default": ""
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "tool_calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "function": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "arguments": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name",
                                            "arguments"
                                          ],
                                          "additionalProperties": false
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "function"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "function",
                                        "type"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "role"
                                ],
                                "additionalProperties": false
                              },
                              "logprobs": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "token": {
                                          "type": "string"
                                        },
                                        "bytes": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          },
                                          "nullable": true
                                        },
                                        "logprob": {
                                          "type": "number"
                                        },
                                        "top_logprobs": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "token": {
                                                "type": "string"
                                              },
                                              "bytes": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number"
                                                },
                                                "nullable": true
                                              },
                                              "logprob": {
                                                "type": "number"
                                              }
                                            },
                                            "required": [
                                              "token",
                                              "bytes",
                                              "logprob"
                                            ],
                                            "additionalProperties": false
                                          }
                                        }
                                      },
                                      "required": [
                                        "token",
                                        "bytes",
                                        "logprob",
                                        "top_logprobs"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "content"
                                ],
                                "additionalProperties": false,
                                "nullable": true,
                                "default": null
                              }
                            },
                            "required": [
                              "finish_reason",
                              "index",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "prompt_tokens": {
                              "type": "number"
                            },
                            "completion_tokens": {
                              "type": "number"
                            },
                            "total_tokens": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "prompt_tokens",
                            "completion_tokens",
                            "total_tokens"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "id",
                        "object",
                        "created",
                        "model",
                        "choices"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    },
                    {}
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/report": {
      "post": {
        "operationId": "report",
        "description": "Report an API call",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "receivedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "reqPayload": {
                    "description": "JSON-encoded request payload"
                  },
                  "respPayload": {
                    "description": "JSON-encoded response payload"
                  },
                  "statusCode": {
                    "type": "number",
                    "description": "HTTP status code of response"
                  },
                  "errorMessage": {
                    "type": "string",
                    "description": "User-friendly error message"
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "enum": [
                            "null"
                          ],
                          "nullable": true
                        }
                      ]
                    },
                    "description": "Extra tags to attach to the call for filtering. Eg { \"userId\": \"123\", \"promptId\": \"populate-title\" }",
                    "default": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "error"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/logs/update-tags": {
      "post": {
        "operationId": "updateLogTags",
        "description": "Update tags for logged calls matching the provided filters",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "The field to filter on. Possible fields include: `model`, `completionId`, and `tags.your_tag_name`."
                        },
                        "equals": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      },
                      "required": [
                        "field",
                        "equals"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "enum": [
                            "null"
                          ],
                          "nullable": true
                        }
                      ]
                    },
                    "description": "Extra tags to attach to the call for filtering. Eg { \"userId\": \"123\", \"promptId\": \"populate-title\" }"
                  }
                },
                "required": [
                  "filters",
                  "tags"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matchedLogs": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "matchedLogs"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/local-testing-only-get-latest-logged-call": {
      "get": {
        "operationId": "localTestingOnlyGetLatestLoggedCall",
        "description": "Get the latest logged call (only for local testing)",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "cacheHit": {
                      "type": "boolean"
                    },
                    "statusCode": {
                      "type": "number",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "reqPayload": {},
                    "respPayload": {},
                    "tags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "createdAt",
                    "cacheHit",
                    "statusCode",
                    "errorMessage",
                    "tags"
                  ],
                  "additionalProperties": false,
                  "nullable": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/unstable/dataset/create": {
      "post": {
        "operationId": "unstableDatasetCreate",
        "description": "Create a new dataset. Note, this endpoint is unstable and may change without notice. Do not use without consulting the OpenPipe team.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datasetId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "datasetId"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/unstable/dataset-entry/create": {
      "post": {
        "operationId": "unstableDatasetEntryCreate",
        "description": "Add new dataset entries. Note, this endpoint is unstable and may change without notice. Do not use without consulting the OpenPipe team.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "archiveId": {
                    "type": "string"
                  },
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "system"
                                    ]
                                  },
                                  "content": {
                                    "type": "string",
                                    "default": ""
                                  }
                                },
                                "required": [
                                  "role"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "array",
                                        "items": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "image_url"
                                                  ]
                                                },
                                                "image_url": {
                                                  "type": "object",
                                                  "properties": {
                                                    "detail": {
                                                      "anyOf": [
                                                        {
                                                          "type": "string",
                                                          "enum": [
                                                            "auto"
                                                          ]
                                                        },
                                                        {
                                                          "type": "string",
                                                          "enum": [
                                                            "low"
                                                          ]
                                                        },
                                                        {
                                                          "type": "string",
                                                          "enum": [
                                                            "high"
                                                          ]
                                                        }
                                                      ]
                                                    },
                                                    "url": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "url"
                                                  ],
                                                  "additionalProperties": false
                                                }
                                              },
                                              "required": [
                                                "type",
                                                "image_url"
                                              ],
                                              "additionalProperties": false
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "text"
                                                  ]
                                                },
                                                "text": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "type",
                                                "text"
                                              ],
                                              "additionalProperties": false
                                            }
                                          ]
                                        }
                                      }
                                    ],
                                    "default": ""
                                  }
                                },
                                "required": [
                                  "role"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "assistant"
                                    ]
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "enum": [
                                          "null"
                                        ],
                                        "nullable": true
                                      }
                                    ],
                                    "default": null
                                  },
                                  "function_call": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "default": ""
                                      },
                                      "arguments": {
                                        "type": "string",
                                        "default": ""
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "tool_calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "function": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "arguments": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name",
                                            "arguments"
                                          ],
                                          "additionalProperties": false
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "function"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "function",
                                        "type"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "role"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "tool"
                                    ]
                                  },
                                  "content": {
                                    "type": "string",
                                    "default": ""
                                  },
                                  "tool_call_id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "role",
                                  "tool_call_id"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "function"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "enum": [
                                          "null"
                                        ],
                                        "nullable": true
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "role",
                                  "name",
                                  "content"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        },
                        "function_call": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "none"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "auto"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "functions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "object",
                                "additionalProperties": {}
                              },
                              "description": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "tool_choice": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "none"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "auto"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "function"
                                  ],
                                  "default": "function"
                                },
                                "function": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name"
                                  ],
                                  "additionalProperties": false,
                                  "default": {
                                    "name": ""
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          ]
                        },
                        "tools": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "parameters": {
                                    "type": "object",
                                    "additionalProperties": {}
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ],
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ]
                              }
                            },
                            "required": [
                              "function",
                              "type"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "response_format": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ]
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "json_object"
                                  ]
                                }
                              ]
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        "split": {
                          "type": "string",
                          "enum": [
                            "TRAIN",
                            "TEST"
                          ]
                        }
                      },
                      "required": [
                        "messages"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                },
                "required": [
                  "archiveId",
                  "entries"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdEntries": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "index",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "createdEntries",
                    "errors"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/unstable/finetune/create": {
      "post": {
        "operationId": "unstableFinetuneCreate",
        "description": "Create a new finetune. Note, this endpoint is unstable and may change without notice. Do not use without consulting the OpenPipe team.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasetId": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "baseModel": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "OpenPipe/mistral-ft-optimized-1227"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "meta-llama/Llama-2-13b-hf"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "mistralai/Mixtral-8x7B-Instruct-v0.1"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "datasetId",
                  "slug",
                  "baseModel"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/unstable/finetune/get": {
      "get": {
        "operationId": "unstableFinetuneGet",
        "description": "Get a finetune by ID. Note, this endpoint is unstable and may change without notice. Do not use without consulting the OpenPipe team.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "fineTuneId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "PENDING"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "STARTED"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "TRANSFERRING_TRAINING_DATA"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "TRAINING"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "DEPLOYED"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "ERROR"
                          ]
                        }
                      ]
                    },
                    "slug": {
                      "type": "string"
                    },
                    "baseModel": {
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "datasetId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "slug",
                    "baseModel",
                    "errorMessage",
                    "datasetId",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "message"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "message",
                "code"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  }
}