{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenPipe API",
    "description": "The public API for reporting API calls to OpenPipe",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://app.openpipe.ai/api/v1"
    }
  ],
  "paths": {
    "/check-cache": {
      "post": {
        "operationId": "checkCache",
        "description": "DEPRECATED: we no longer support prompt caching.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "reqPayload": {
                    "description": "JSON-encoded request payload"
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra tags to attach to the call for filtering. Eg { \"userId\": \"123\", \"promptId\": \"populate-title\" }",
                    "default": {}
                  }
                },
                "required": [
                  "requestedAt"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "respPayload": {
                      "description": "JSON-encoded response payload"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "deprecated": true
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "description": "Create completion for a prompt",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reqPayload": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "system"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image_url"
                                                ]
                                              },
                                              "image_url": {
                                                "type": "object",
                                                "properties": {
                                                  "detail": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "auto"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "low"
                                                        ]
                                                      },
                                                      {
                                                        "type": "string",
                                                        "enum": [
                                                          "high"
                                                        ]
                                                      }
                                                    ]
                                                  },
                                                  "url": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "url"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "image_url"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ]
                                              },
                                              "text": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ],
                                            "additionalProperties": false
                                          }
                                        ]
                                      }
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "assistant"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ],
                                  "default": null
                                },
                                "function_call": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "arguments": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "arguments"
                                  ],
                                  "additionalProperties": false
                                },
                                "tool_calls": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "function": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "arguments": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "name",
                                          "arguments"
                                        ],
                                        "additionalProperties": false
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "function"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "function",
                                      "type"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "role"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "tool"
                                  ]
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ]
                                },
                                "tool_call_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "role",
                                "content",
                                "tool_call_id"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "function"
                                  ]
                                },
                                "name": {
                                  "type": "string"
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "null"
                                      ],
                                      "nullable": true
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "role",
                                "name",
                                "content"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        }
                      },
                      "function_call": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "none"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "auto"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        ]
                      },
                      "functions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "parameters"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "tool_choice": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "none"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "auto"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ]
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        ]
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "function": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "parameters": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "description": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "parameters"
                              ],
                              "additionalProperties": false
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "function"
                              ]
                            }
                          },
                          "required": [
                            "function",
                            "type"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "n": {
                        "type": "number"
                      },
                      "max_tokens": {
                        "type": "number",
                        "nullable": true
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "response_format": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "text"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "json_object"
                                ]
                              }
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      "stream": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "model",
                      "messages"
                    ],
                    "additionalProperties": false,
                    "description": "DEPRECATED. Use the top-level fields instead"
                  },
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ]
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image_url"
                                            ]
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "detail": {
                                                "anyOf": [
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "auto"
                                                    ]
                                                  },
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "low"
                                                    ]
                                                  },
                                                  {
                                                    "type": "string",
                                                    "enum": [
                                                      "high"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "url": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "image_url"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ]
                                          },
                                          "text": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ]
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ],
                              "default": null
                            },
                            "function_call": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "arguments": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "arguments"
                              ],
                              "additionalProperties": false
                            },
                            "tool_calls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "function": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "arguments": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "arguments"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "function"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "function",
                                  "type"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "tool"
                              ]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ]
                            },
                            "tool_call_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content",
                            "tool_call_id"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "function"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "null"
                                  ],
                                  "nullable": true
                                }
                              ]
                            }
                          },
                          "required": [
                            "role",
                            "name",
                            "content"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "function_call": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auto"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "functions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "description": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "parameters"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "auto"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    ]
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {}
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "parameters"
                          ],
                          "additionalProperties": false
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ]
                        }
                      },
                      "required": [
                        "function",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "n": {
                    "type": "number",
                    "nullable": true
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true
                  },
                  "temperature": {
                    "type": "number",
                    "nullable": true
                  },
                  "stream": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ]
                          }
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "chat.completion"
                      ]
                    },
                    "created": {
                      "type": "number"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "length"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "function_call"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "tool_calls"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "stop"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "content_filter"
                                ]
                              }
                            ]
                          },
                          "index": {
                            "type": "number"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": [
                                  "assistant"
                                ]
                              },
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "enum": [
                                      "null"
                                    ],
                                    "nullable": true
                                  }
                                ],
                                "default": null
                              },
                              "function_call": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "arguments": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "additionalProperties": false
                              },
                              "tool_calls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "function": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "arguments": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "function",
                                    "type"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "role"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "number"
                        },
                        "completion_tokens": {
                          "type": "number"
                        },
                        "total_tokens": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "model",
                    "choices"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/report": {
      "post": {
        "operationId": "report",
        "description": "Report an API call",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "receivedAt": {
                    "type": "number",
                    "description": "Unix timestamp in milliseconds"
                  },
                  "reqPayload": {
                    "description": "JSON-encoded request payload"
                  },
                  "respPayload": {
                    "description": "JSON-encoded response payload"
                  },
                  "statusCode": {
                    "type": "number",
                    "description": "HTTP status code of response"
                  },
                  "errorMessage": {
                    "type": "string",
                    "description": "User-friendly error message"
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra tags to attach to the call for filtering. Eg { \"userId\": \"123\", \"promptId\": \"populate-title\" }",
                    "default": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        {
                          "type": "string",
                          "enum": [
                            "error"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/local-testing-only-get-latest-logged-call": {
      "get": {
        "operationId": "localTestingOnlyGetLatestLoggedCall",
        "description": "Get the latest logged call (only for local testing)",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "statusCode": {
                      "type": "number",
                      "nullable": true
                    },
                    "errorMessage": {
                      "type": "string",
                      "nullable": true
                    },
                    "reqPayload": {},
                    "respPayload": {},
                    "tags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "createdAt",
                    "statusCode",
                    "errorMessage",
                    "tags"
                  ],
                  "additionalProperties": false,
                  "nullable": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "message"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "message",
                "code"
              ],
              "additionalProperties": false
            }
          }
        }
      }
    }
  }
}